# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- Data Science Tools
- Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. PyTorch

| **Data Science Tools** |
| ------------------ |
| RStudio |
| Jupyter Notebook|
| VSCode |

### Below are a few examples of evaluating arithmetic expressions in Python.

 This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [3]:
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

## Author
Yulia